$blue: #2196F3;
body {
    font-family: "Inter";
}

.add-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 10px rgba($blue, .5);
    &:hover {
        cursor: pointer;
    }
    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        box-shadow: 0 0 3px rgba(255,255,255,.2);
    }
    &::before {
        width: 1px;
        height: 30%;
    }
    &::after {
        height: 1px;
        width: 30%;
    }
}

.auth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 100px;
    &__header {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }
}

.input {
    background-color: #f3f3f3;
    padding: 15px 20px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    font-size: 18px;
    transition: .5s;
    &:focus {
        border: 1px solid $blue;
    }
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.button {
    border: 1px solid $blue;
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
    background-color: $blue;
    border-radius: 10px;
    transition: .5s;
    &:hover {
        cursor: pointer;
        background-color: transparent;
        color: $blue;
    }
}

.auth-form {
    min-width: 300px;
    & .input, .button {
        margin-top: 15px;
    }
}

.content-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 50px;
}

.content {
    height: 70vh;
    flex-grow: 1;
}

.app-bar {
    flex-basis: 20%;
    max-width: 20%;
    flex-shrink: 0;
    margin-right: 30px;
    &__item {
        &_active {
            & a {
                background-color: rgb(225, 238, 252);
                color: rgb(73, 148, 236);
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        color: rgb(73, 148, 236);
        text-decoration: none;
        padding: 10px 15px;
        background-color: transparent;
        border-radius: 10px;
        margin-bottom: 10px;
        &_active, &:hover {
            background-color: rgb(225, 238, 252);
            color: rgb(73, 148, 236);
        }
        & svg {
            margin-right: 10px;
        }
    }
}

.todo-list {
    &__heading {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.todo-title {
    font-size: 17px;
    color: #212121;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 0px;
    border: none;
    padding: 0;
    &:focus {
        outline: none;
    }
}

.todo-check {
    border: 1px solid rgba(175, 176, 176, 0.5);
    background-color: #fff;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: 0.3s;
    user-select: none;
    position: relative;
    &:hover{
        cursor: pointer;
    }
    &__img{
        display: block;
        width: 100%;
    }
}

.todo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 54px;
    &_done .todo-check {
        background-color: $blue;
        border-color: $blue;
    }
    &_done .todo-title {
        text-decoration: line-through;
        color: rgba(215, 216, 216, 1);
    }
    &:hover {
        & .todo-delete {
            opacity: 1;
            visibility: visible;
        }
    }
}

.todo-delete {
    align-self: flex-end;
    margin-left: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    &:hover {
        cursor: pointer;
    }
}

.todo-heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 50px;
}


.project-item-info{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: $blue;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.project-list{
    display: flex;
    align-items: center;
    transform: translateX(-5px);
    margin-bottom: 25px;
}

.project-item{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    &_add {
        cursor: pointer;
    }
    &__title{
        font-size: 11px;
        line-height: 12px;
        margin-top: 5px;
    }
    &__tasks{
        font-size: 11px;
        margin-top: 5px;
    }
    &__icon{
        font-size: 24px;
    }
    &_page {
        flex-direction: row;
        width: 100%;
        margin-bottom: 30px;
        & .project-item__title {
            margin-left: 20px;
            font-size: 20px;
            margin-top: 0;
        }
    }
}

.todo-lists-wrapper {
    display: flex;
}

.todo-list-card {
    flex-basis: 32%;
    max-width: 32%;
}

.project-item__edit {
    margin-left: 10px;
    margin-bottom: -5px;
    &:hover {
        cursor: pointer;
    }
    & i {
        font-size: 18px;
    }
}

.project-item_edit {
    margin: 20px auto 0;

    & .project-item__title {
        margin-top: 10px;
        padding: 0;
        display: block;
        border: none;
        font-size: 18px;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
}

.color-picker {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    &__item{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
    }
    &__img {
        width: 8px;
    }
}

